In [1]:
import os, pandas as pd, numpy as np

In [14]:
os.listdir()

['cpsa2017.xlsx',
 'avocado.csv',
 'kaggle_income.csv',
 'Apartment-List-Rent-Data-State_2018-4.csv',
 'kaggle_income1.csv',
 '.ipynb_checkpoints',
 'K353 Group Project.ipynb']

In [15]:
guac  = pd.read_csv('avocado.csv')

In [17]:
guac.keys()

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

# Topic: To predict demand or price for different size of avocados in specific region based on its type.

Data is taken from : https://www.kaggle.com/neuromusic/avocado-prices/home

In [20]:
guac.shape

(18249, 14)

There are 18249 rows and 14 columns. Columns information are below:

Unnamed: IDs (Categorical : Nominal)

Date (Categorical: Ordinal)

AveragePrice (Numerical: Discrete)

Total Volume (Numerical: Discrete)

4046: small Hass (Numerical: Discrete)

4225: large Hass (Numerical: Discrete)

4770: extra large Hass(Numerical: Discrete)

Total Bags (Numerical: Discrete)

Small Bags (Numerical: Discrete)

Large Bags (Numerical: Discrete)

XLarge Bags (Numerical: Discrete)

type (Categorical: Nominal)

year (Categorical: Ordinal)

region (Categorical: Nominal)

In [23]:
guac.describe(include='all')

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
count,18249.000000,18249,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249,18249.000000,18249
unique,NaN,169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,54
top,NaN,2016-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,conventional,NaN,Orlando
freq,NaN,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9126,NaN,338
mean,24.232232,NaN,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,NaN,2016.147899,NaN
std,15.481045,NaN,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,NaN,0.939938,NaN
min,0.000000,NaN,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,2015.000000,NaN
25%,10.000000,NaN,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,NaN,2015.000000,NaN
50%,24.000000,NaN,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,NaN,2016.000000,NaN
75%,38.000000,NaN,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,NaN,2017.000000,NaN
max,52.000000,NaN,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,NaN,2018.000000,NaN

On initial run, there seems to be no missing value in the data